controller=5
ether=10.1.1.105
netmask=255.255.255.0
gateway=10.1.1.1

pixels=96
stripsattached=8
swap=12345678

strip1=ws2801
start1=ffffff
order1=brg

strip2=ws2801
start2=ffffff
order2=brg

strip3=ws2801
start3=ffffff
order3=brg

strip4=ws2801
start4=ffffff
order4=brg

strip5=ws2801
start5=ffffff
order5=brg

strip6=ws2801
start6=ffffff
order6=brg

strip7=ws2801
start7=ffffff
order7=brg

strip8=ws2801
start8=ffffff
order8=brg
